services:
  arrdeck:
    build: .
    ports:
      - "4877:4877"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=5432
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      # This will be used by NestJS to serve static files
      - CLIENT_PATH=/app/client
    env_file:
      - .env
    restart: always

volumes:
  postgres_data:
