<app-horizontal-card title="Newly Added" subtitle="From Sonarr" accentColor="text-emerald-400" baseColor="emerald"
                     [items]="mediaItems()" [rows]="rows()">

  <div header-icon>
    <!-- TV Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
      <path
        d="M19.5 6h-15v9h15V6zM4.5 4.5h15c.828 0 1.5.672 1.5 1.5v9c0 .828-.672 1.5-1.5 1.5h-15c-.828 0-1.5-.672-1.5-1.5v-9c0-.828.672-1.5 1.5-1.5z"/>
      <path d="M7 19.5h10v1.5H7z"/>
    </svg>
  </div>

</app-horizontal-card>
